@import 'assets/styles/_global.scss';

:global {
    $select-input-height: 42px;
    $select-item-font-size: 1.4rem;
    $select-padding-horizontal: 14px;
    @import '~react-select/scss/default';
}

.label {
    width: 100%;
    font-size: 140%;
    display: block;
    position: relative;

    &__name {
        color: #b6b6b6;
        display: block;
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
}

.select {
    width: 100%;
    border: 1s solid red;
}

:global {
    .Select-control {
        font-size: 1.4rem;
    }
}
